/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #354763;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background: white;
}

/* Css for app */
.titleImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titleImg img {
  border-radius: 50%;
  margin-right: 100px;
  width: 150px ;
  height: 182px;
  
}
.titleImg h1, .Container h1, .voorstelling p {
  color: white;
}

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.opleidingen {
  justify-content: space-around;
}
.ervaringen {
  justify-content: space-around;
}
.projecten{
  justify-content: space-around;
}

.subContainer a {
  text-decoration: none;
  color: black;
}
.subContainer a img {
  max-width: 100%;
  height: auto;
}
.subContainer div img {
  max-width: 100px;
  height: auto;
}
.subContainer div, .subContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px white;
  margin-top: 10px;
}
.eigenschappenContainer .card {
    border: solid 2px white;
}
    .eigenschappenContainer .card:hover {
        border: solid 2px cornflowerblue;
    }
.subContainer div:hover, .subContainer a:hover {
  border: solid 2px cornflowerblue;
}
.subContainer a {
  width: 45%;
  height: auto;
}
.subContainer div {
  width: 30%;
  height: auto;
}
.ervaringen, .projecten {
  width: 100%;
}
.card p {
  color: #354763;
}

ul {
  list-style: none;
  color: #354763;
}
ul li:before {
  content: '✓';
}

.eigenschappenContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.eigenschappenContainer .card {
  width: 30%;
  height: auto;
}

/* Media queries */

@media only screen and (max-width: 768px){
  .subContainer div, .subContainer a{
    width: 40%;
    height: auto;
  }
    .eigenschappenContainer .card {
        width: 49%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px){
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .subContainer div, .subContainer a {
    width: 70%;
  }
  .titleImg img {
    margin-right: 50px;
  }
  .eigenschappenContainer {
    flex-direction: column;
  }
    .eigenschappenContainer .card {
        width: 70%;
        height: auto;
    }
}
@media only screen and (max-width: 426px){
  .titleImg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .titleImg img {
    margin-right: 0;
  }
}

@media only screen and (max-width: 300px){
  .titleImg img {
    width: 25%;
    height: auto;
  }
  .titleImg h1 {
    font-size: 20px;
  }
}