@model CurriculumVitae2.UI.Mvc.Models.HomeViewModel

@{
    ViewData["Title"] = "Home";
    var dob = DateTime.Parse("18/01/1995");
    var leeftijd = DateTime.Now.Year - dob.Year;
    if ((dob.Month > DateTime.Now.Month) || (dob.Month == DateTime.Now.Month && dob.Day > DateTime.Now.Day)) {leeftijd--;}
}

<div class="voorstelling">
    <div class="titleImg">
        <h1 class="display-4">Welkom!</h1>
        <img alt="Headshot"  src="images/Headshot.jpg"/>
    </div>
    <p>Ik ben Michel Stroobants, @leeftijd jaar wonende te Oud-Turnhout. Ik solliciteer bij Trivec voor de functie van C#-developer.</p>
    <p></p>
</div>
<br>
<div class="opleidingenContainer">
    <h1>Opleiding</h1>
    <div class="opleidingen">
        @foreach (var item in Model.Opleidingen)
        {
            <partial name="OpleidingPartial" model="item"/>
        }
    </div>
</div>
<br>
<div class="ervaringContainer">
    <h1>Werkervaring</h1>
    <div class="ervaringen">
        @foreach (var item in Model.Ervaringen)
        {
            <partial name="ErvaringPartial" model="item"/>
        }
    </div>
</div>
<div class="ervaringen"></div>