@model CurriculumVitae2.Domain.Models.Project
<a class="card text-center" href="@Model.Url">
    <img src="~/images/@Model.Image" alt="@Model.Name"/>
    <br/>
    <h4 class="card-title">@Model.Name</h4>
    <p class="card-subtitle">@Model.Beschrijving</p>
</a>